* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Afacad", sans-serif;
}

.container {
  padding: 0 80px;
  height: 100%;
}

.indent {
  width: 100%;
  height: 5px;
  background-color: black;
  margin-bottom: 150px;
}

.bg_gradient {
  background: linear-gradient(to bottom, #9B9EAE, #404148);
}

.main {
  height: 100vh;
}
.main__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.main__info p, .main__info h1 {
  color: white;
  font-size: 64px;
  max-width: 680px;
  font-weight: 500;
}
.main__info h1 span {
  color: black;
  font-size: 128px;
}
.main__cards {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.main__card {
  background-color: black;
  width: 100%;
  height: 350px;
  border-radius: 40px;
  padding: 30px 50px 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__card-img {
  display: flex;
  justify-content: end;
}
.main__card-text {
  color: #9B9EAE;
  font-size: 20px;
  font-weight: 300;
}

.header__logo {
  height: 100px;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
}
.header__nav {
  display: flex;
  gap: 100px;
  font-size: 40px;
}
.header__nav a {
  color: black;
}

.sub {
  height: 100vh;
}
.sub__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 120px 80px;
  height: 100%;
}
.sub__title {
  color: black;
  font-size: 128px;
  width: 100%;
}
.sub__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.sub__card {
  background-color: #404148;
  max-height: 400px;
  max-width: 400px;
  padding: 30px;
  width: 100%;
  border-radius: 40px;
}
.sub__card-date {
  color: white;
  font-size: 27px;
  margin-bottom: 30px;
}
.sub__card-price {
  color: white;
  font-size: 21px;
  margin-left: 40px;
  margin-bottom: 50px;
}
.sub__card-price h3 {
  font-size: 80px;
}
.sub__card-sold {
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.sub__card-sold_orange {
  font-weight: 900;
  background-color: #FF0307;
  padding: 8px 16px;
  border-radius: 22px;
}
.sub__text {
  color: white;
  font-weight: 900;
  font-size: 36px;
}